body{
    margin: 0;
    padding: 0;
    background: url(manet.jpg);
    background-size: contain;

}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
    
        
}
button{
    position: relative;
    text-align: center;
    width: 250px;
    padding: 10px;
    font-size: 25px;
    color:deepskyblue;
    font-weight: 400;
    font-family: "chiller";
    border: 3px solid deepskyblue;
    letter-spacing: 5px;
    cursor: pointer;
    border-radius: 100px;
    transition: 1.5s;
    background: transparent;
    
    
}
button:hover{
    box-shadow: 0 5px 50px 0 deepskyblue inset, 0 5px 50px 0 deepskyblue,
                0 5px 50px 0 deepskyblue inset, 0 5px 50px 0 deepskyblue;
}
.box h2{
    margin: 0 0 30px;
    padding: 0;
    color: aqua;
    text-align: center;
    font-family: "chiller";
    font-size: 25px;
    
}
.box .inputbox{
    position: relative;
}
.box .inputbox input{
    width: 100%;
    padding: 10px 0;
    letter-spacing: 1px;
    font-size: 16px;
    background: transparent;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
}
.box .inputbox label{
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
     padding: 10px 0;
    font-size: 25px;
    color: white;
    pointer-events: none;
    transition: 1.5s;
    font-family: "chiller";

}
.box .inputbox input:focus ~ label,
.box .inputbox input:valid ~ label
{
    top: -18px;
    left: 0px;
    color: aqua;
    font-size: 20px;
}
.box input[type="submit"]
{
    background: transparent;
    border: none;
    outline: none;
    color: white;
    background-color: aqua;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 12px;
    
}
.x{
    font-family: "chiller";
    color: white;
    font-size: 30px;
}
.box .x a{
    text-decoration: none;
    color: aqua;
    border-radius: 25px;
    transition: 1.5s;
}
.box .x a:hover{
     box-shadow: 0 5px 50px 0 deepskyblue inset, 0 5px 50px 0 deepskyblue,
                0 5px 50px 0 deepskyblue inset, 0 5px 50px 0 deepskyblue;
}

