body{
    background: url(sign\ up.jpg);
    background-size: cover;
    background-repeat: repeat-y;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    padding: 55px;
    background: rgba(167, 58, 58, 0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 50px;
}
.box h2{
    margin: 0 0 30px;
    padding: 0;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "italic";
    font-size: 30px;
}
.x{
    padding-top: 1;
    font-family: "italic";
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.x a{
    text-decoration: none;
    color: rgb(2, 2, 48);
}
button{
    position: relative;
    text-align: center;
    width: 150px;
    padding: 1px;
    font-size: 25px;
    color: rgb(92, 0, 0);
}