*{
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(87, 112, 112);
}

.navbar {
    background-color: rgb(99, 41, 18);
    height: 70px;
}
.navbar >img{
    float: left;
    cursor: pointer;
    width: 60px;
    height: 60px;
    padding: 4px 26px;
}

.navbar > ul {
    display: flex;
    padding-top: 30px;
    float: right;
}
.navbar > ul > li{
    list-style-type: none;
    padding-right: 30px;
}
.navbar >ul >li>a{
    text-decoration: none;
}
#photo{
    height: 300px;
    width: 300px;
}
.selection{
    display: flex;
}
div p {
    margin-top: 140px;
}